/nbproject/*
!/logs/tmp
/logs/*
!/session/tmp
/session/*
/conf/connexion.ini.php
/conf/auth.ini.php
!/data/upload/GPX/tmp
/data/upload/GPX/*.gpx
UrlDeReference.txt
.gitignore
/public/js/moduleParcours.js