/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 oct. 2015, 18:07:27
    Author     : bikar_000
*/

/*CSS pour le Div permettant d'indiquer le dernier owner d'un membre dans membres::show*/
div.legend2{
    position:absolute;
    bottom: 0;
    right:20px;    
}


/*CSS pour les select de la vue permission::list*/
select.list1 {
    background: #64FE2E;    
}

select.list2 {
    background: #FF4000;
}

option.option1{
    background-color: #FF4000;
}

option.option2{
    background-color: #64FE2E;
}

